/*
	Este arquivo foi testado para funcionar com os componentes:
	TWebNavegator, no Delphi, com Windows10.  
  	Atualizado em: 11/10/2022
	Fonte:  https://github.com/aldosena/cssdelphi;
*/

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
  }

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 0px;
}

/* imagens ficam sem bordas */
img {
  border: 0px;
}

.titulo{
  color: navy;   
}

/* -- uma dica na tela ------ */
.tip{
  color: green;
}

/*  usado para fazer quebra de pagína na hora de imprimir -----------------------------------------  -- */
.xquebra{
  page-break-after: always;
}
/* modo de usar, coloque <div class='xquebra'> </div> onde quer -------------------------------- */

/* CABEÇALHO - header */
.header {
	background-color: #999999;
	/* height:140px; */
	padding: 4px;
}

/* div geral que pega todo so corpo */
.big {
	padding: 10px;
	overflow:auto;
} 

input[type=text]{
	padding: 8px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password] {
	padding: 8px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

textarea {
	width: 96%;
	padding: 8px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: white;
	resize: none;
  }

input[type=submit] {
	background-color: #787cf1;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
input[type=submit]:hover {
	background-color: #45a049;
}
/*  fim do form  */

/* links padrao */
a:link {color: #0000FF; text-decoration: none}
a:visited {color: #0000FF; text-decoration: none}
a:hover{color: #FF00FF; text-decoration: none}
a:active {color: #0000FF; text-decoration: none}  

/* tabela com efeito no mouse forma da chamar: ------------ */
table.zi {
  border-spacing: 8px;
}
table.zi tr {
	background-color: #F0F0F0;
}
table.zi tr:hover {
	background-color: #CCCCCC;
}
table.zi td {
	padding: 4px;
}

/* tabela azul ------------------------------------------ */
table.blue {
	border-collapse: collapse;
	width: 100%;
}
  
table.blue th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #DDD;
}
  
table.blue tr:hover {background-color: #D6EEEE;}

/* tabela slim com bordas simples -------------------------------*/
table.slim {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 8px;
}
table.slim th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 8px;
}

table.slim tr {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 8px;
}

table.slim td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 8px;
}

/* -- feliz ---------------------------------------------- */
.feliz {
   border-left: 6px solid green;
   background-color: #ffe5ed;
	 margin: 20px 200px 20px 100px;
	 padding: 5px 5px 5px 5px;
}
.feliz p {
  color: green;
}

/* -- triste ---------------------------------------------- */
.triste {
   border-left: 6px solid red;
   background-color: #ffe5ed;
	 margin: 20px 200px 20px 100px;
	 padding: 5px 5px 5px 5px;
}
.triste p {
  color: Tomato;
}

/* -- aviso ---------------------------------------------- */
.aviso {
	border-left: 4px solid orange;
	background-color: #ffffe8;
	margin: 20px 200px 20px 100px;
	padding: 5px 5px 5px 10px;
	background-image: url("bell.png");
	background-repeat: no-repeat;	 	
 }
 .aviso p {
   color: Tomato;
   padding: 5px 5px 5px 100px;
 }

 .aviso img {
	/* margin-left: 8px; */
	padding-left: 8px;
}

@media only screen and (max-width:620px) {
	/* For mobile phones: */
	.menu, .main, .right {
	  width:100%;
	}
}
