/*
	Este arquivo foi testado para funcionar com o componente
	TWebNavegator com Windows 7    
  	Atualizado em: 03/08/2022
	Fonte:  https://github.com/aldosena/cssdelphi;
*/


* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
  }

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 0px;
}

/* imagens ficam sem bordas */
img {
	border: 0px;
}

h1 {
  color: #A9A9A9;
}  

h2 {
  color: #d25cff;
}  

h3 {
  color: #a794ff;
} 

i {
  color: green;
}

/* links padr�o */
a:link {color: #0000FF; text-decoration: none}
a:visited {color: #0000FF; text-decoration: none}
a:hover{color: #FF00FF; text-decoration: none}
a:active {color: #0000FF; text-decoration: none}  

/* tabela com efeito no mouse forma da chamar: ------------ */
table.zi {
  border-spacing: 8px;
}
table.zi tr {
	background-color: #F0F0F0;
}
table.zi tr:hover {
	background-color: #CCCCCC;
}
table.zi td {
	padding: 4px;
}
/* fim tabela <table class="zi"> -------------------------- */

/* CABEÇALHO - header */
.header {
	background-color: #999999;
	/* height:140px; */
	padding: 4px;
  }

/* div geral que pega todo so corpo */
.big {
	padding: 10px;
	overflow:auto;
}  

#rodape {
	background-color: #D7D7FF;
	position: absolute;
	bottom: 0;
	padding:10px;
	margin-top:7px;
}
  
/* MENU SUPERIOR - navigation bar */
.topnav {
	overflow: hidden;
	background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  /*  fim do menu top  */


/*  MENU LATERAL */
.menu {
	float:left;
	width:20%;
	text-align:center;
	overflow: hidden; /* aldo */
  }
  .menu a {
	background-color:#dddddd;
	padding:8px;
	margin-top:7px;
	display:block;
	width:100%;
	color:rgb(25, 0, 252);
  }
  .menu a:hover {
	color: rgb(252, 4, 252);
  }  
  .main {
	/* use quando houver menu lateral  */  
	float:left;
	width:70%;
	padding:0 20px;
  }
  .right {
	background-color:#e5e5e5;
	float:left;
	width:20%;
	padding:15px;
	margin-top:7px;
	text-align:center;
  }
  
.feliz {
   border-left: 6px solid blue;
   background-color: #ffe5ed;
	 margin: 20px 200px 20px 100px;
	 padding: 5px 5px 5px 5px;
}
.feliz p {
  color: #green;
}

.triste {
   border-left: 6px solid red;
   background-color: #ffe5ed;
	 margin: 20px 200px 20px 100px;
	 padding: 5px 5px 5px 5px;
}
.triste p {
  color: Tomato;
}
  
@media only screen and (max-width:620px) {
	/* For mobile phones: */
	.menu, .main, .right {
	  width:100%;
	}
}
